<body class="bodindex">

<app-info-bar></app-info-bar>


<main class="layout-grid">
<app-pokedex-access class="pokedex" *ngIf="!reloadCount" [isOpen]="showPokemonView" (toggleView)="toggleView()" [showCombatViewParent]="showCombatView" ></app-pokedex-access>
<app-inventaire class="inventaire"></app-inventaire>


<app-carte class="cartes"  *ngIf="!showPokemonView && !showCombatView" (toggleFromRandom)="ShowCombatView()" (childClicked)="onChild2ButtonClicked()" (reloadInventaireOut)="reloadInventaire()"></app-carte>
<app-pokemons-captures class="pokemoncapture"  *ngIf="showPokemonView"></app-pokemons-captures> 
<app-combat class="combat" *ngIf="!showPokemonView && showCombatView" (toggleFromRandom)="ShowCombatView()" (reloadMap)="reboutCompMap()" (openPoke)="ShowPokeCapt()" (reloadInventaireOut)="reloadInventaire()"></app-combat>

</main>

</body> 