.pokemon-list {
  max-height: 600px;      /* LISTE DÉROULANTE */
  overflow-y: auto;
  padding-right: 8px;
}

.pokemon-item {
  background: #faf6c8;
  border-radius: 20px;
  padding: 10px 16px;
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  gap: 12px;

  cursor: pointer;
}

/* Hover comme sur ton screenshot */
.pokemon-item:hover {
  background: #ffe58a;
  transform: translateX(4px);
}

.pokemon-sprite {
  width: 48px;
  height: 48px;
}

.pokemon-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-weight: bold;
  font-size: 18px;
}

.pokemon-id {
  color: #333;
}

.pokemon-name {
  color: #0a3a78;
  text-transform: uppercase;
}