<div class="page-poke-list">

        <app-navbar-crud></app-navbar-crud>

    <br>
    <br>

<h1>Liste des Pokémons</h1>

<div class="display_admin">
<div class="scrollable">
<table class="table_admin">
    <thead class="thead_admin">
        <tr>
            <th class="th_admin">Id</th>
            <th class="th_admin" >Nom</th>
            <th class="th_admin" >Taux de capture</th>
            <th class="th_admin" >Taux de fuite</th>
            <th class="th_admin" >Facteur d'apparition</th>
            <th class="th_admin" >Type 1</th>
            <th class="th_admin" >Type 2</th>
            <th class="th_admin" >Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let p of pokemons$ | async; trackBy: trackPokemon">
            <td class="td_admin">{{ p.id }}</td>
            <td class="td_admin">{{ p.nom }}</td>
            <td class="taux">{{ p.tauxCapture }}</td>
            <td class="taux" >{{ p.tauxFuite }}</td>
            <td class="taux" >{{ p.facteurApparition }}</td>
            <td class="td_admin">{{ p.type1 }}</td>
            <td class="td_admin">{{ p.type2 }}</td>

            <td class="buttonaction">
                <button class="primary_bad"  (click)="editPokemon(p)">Modifier</button>
                <button class="secondary_bad" (click)="deletePokemon(p)">Supprimer</button>
            </td>
        </tr>
    </tbody>
</table>
</div>

<div class="ajout">


    

      @if (editingPokemon) {
            <h4>Modifier un pokemon</h4>
        }

        @else {
           <h4>Ajouter un pokemon</h4>
        }


    <form (ngSubmit)="ajouterModifierPokemon()" [formGroup]="pokemonForm">
        <!-- nom -->
        <div>
            <input  type="text" formControlName="nom" placeholder="Nom"/> 
            
            @if (nomCtrl.hasError('required')) {
                <div class="error-message">Le nom est obligatoire</div>
            }
        </div>
<br>
        <!-- taux de capture -->
        <div>
            <input type="number" formControlName="tauxCapture" placeholder="Taux de capture"/>

            @if (tauxCaptureCtrl.hasError('required')) {
                <div class="error-message">Le taux de capture est obligatoire</div>
            }

            @if (tauxCaptureCtrl.hasError('min') || tauxCaptureCtrl.hasError('max')) {
                <div class="error-message">Le taux de capture doit être compris entre 0 et 255</div>
            }
        </div>
<br>
        <!-- taux de fuite -->
        <div>
            <input  type="number" formControlName="tauxFuite" placeholder="Taux de fuite"/> 
            
            @if (tauxFuiteCtrl.hasError('required')) {
                <div class="error-message">Le taux de fuite est obligatoire</div>
            }

            @if (tauxFuiteCtrl.hasError('min') || tauxFuiteCtrl.hasError('max')) {
                <div class="error-message">Le taux de fuite doit être compris entre 0 et 255</div>
            }
        </div>
<br>
        <!-- facteur d'apparition -->
        <div>
            <input  type="number" formControlName="facteurApparition" placeholder="Facteur d'apparition"/> 
            
            @if (facteurApparitionCtrl.hasError('required')) {
                <div class="error-message">Le facteur d'apparition est obligatoire</div>
            }

            @if (facteurApparitionCtrl.hasError('min') || facteurApparitionCtrl.hasError('max')) {
                <div class="error-message">Le facteur d'apparition doit être compris entre 0 et 255</div>
            }
        </div>
<br>
        <!-- type 1 -->
        <div>
            <select formControlName="type1">
                <option [ngValue]="null">-- Aucun --</option>
                <option *ngFor="let t of types$ | async" [ngValue]="t.key">
                    {{ t.nom }}
                </option>
            </select>
            
            @if (type1Ctrl.hasError('required')) {
                <div class="error-message">Le 1er type est obligatoire</div>
            }
        </div>
<br>
        <!-- type 2 -->
        <div>
            <select formControlName="type2">
                <option [ngValue]="null">-- Aucun --</option>
                <option *ngFor="let t of types$ | async" [ngValue]="t.key">
                    {{ t.nom }}
                </option>
            </select>

            @if (type2Ctrl.hasError('typeNotMatch')) {
                <div class="error-message">Les 2 types doivent être différents</div>
            }
        </div>
<br>
        @if (editingPokemon) {
            <input type="submit" [disabled]="pokemonForm.invalid" value="Modifier" />
        }

        @else {
            <input type="submit" [disabled]="pokemonForm.invalid" value="Ajouter" />
        }

    </form>

</div>
</div>
</div>