<!-- CONTENEUR PRINCIPAL (CONTINUE) -->
<div class="containeur" *ngIf="combatStatus === 'continue'" >
  <div class="top_combat">
    <div class="id_poke">
      <img [src]="pokemon.sprite">
      
      <p class="pokemon-name">{{pokemon.name}}</p>

      <img *ngIf="dejaCapture" class="pokeballmini" src="assets/pokeitem.png" alt=""> <!--  *ngIf="dejaCapture" -->

 
    </div>
    <div class="message_poke">
      <p>
        {{messageContent}}
      </p>
    </div>
  </div>

  <div class="combat_poke">
    <div class="slot_img_Pokemon">
    <img class="img_pokeball" src="assets\pokeballV1.png" [ngStyle]="{
    marginLeft: imgPokeMargLeft +'px',
    marginRight: imgPokeMargRight + 'px',
    marginTop: imgPokeMargTop + 'px',
    marginBottom: imgPokeballMargBottom + 'px',
    display: pokeballHidden === 'true' ? 'none' : 'block',
    transform: 'rotate(' + pokeballAngle + 'deg)'
  }">
    <img class="img_poke" [src]="pokemon.img" [ngStyle]="{
    marginLeft: imgPokeMargLeft +'px',
    marginRight: imgPokeMargRight + 'px',
    marginTop: imgPokeMargTop + 'px',
    marginBottom: imgPokeMargBottom + 'px',
    display: pokemonHidden === 'true' ? 'none' : 'block',

  }">
  </div>
    <img class="img_socle" src="assets/soclecombat.png" alt="">
  </div>

  <div class="actions_combat">
    <button class="secondary_b" (click)="pokeball()" [disabled]="allButtonsDisabled">Pokéball</button>
  <button class="secondary_b" (click)="boue()" [disabled]="allButtonsDisabled">Boue</button>
  <button class="secondary_b" (click)="appat()" [disabled]="allButtonsDisabled">Appât</button>
  <button class="secondary_b" (click)="fuite()" [disabled]="allButtonsDisabled">Fuite</button>
  </div>
</div>

<!-- CONTENEUR CAPTURE -->
<div class="containeur_capture" *ngIf="combatStatus === 'capture'">
  <div class="containeur_capture_div">
    <p class="center_txt">
      -- pokémon capturé -- <br><br>
      <b>{{pokemon.name}}</b> est ajouté à votre Pokédex
    </p>
    <br>

    <button class="secondary_b" (click)="goBackToMap()" >Retour à la carte</button>
<br>

 <button class="tertiary_b" (click)="goToPoke()" >Accès au Pokédex</button>

  </div>
</div>

<!-- CONTENEUR FUITES -->
<div class="containeur_fuite" *ngIf="combatStatus === 'fuite'">
  <div class="containeur_fuite_div">
    <p class="center_txt">
      -- le pokémon a fui -- <br><br>
      <b>{{pokemon.name}}</b> a quitté le combat
    </p>
    <br>
    <button class="secondary_b" (click)="goBackToMap()" >Retour à la carte</button>
  </div>
</div>

<div class="containeur_fuit" *ngIf="combatStatus === 'abandon'">
  <div class="containeur_fuit_div">
    <p class="center_txt">
      -- tu as fui -- <br><br>
      Tu as quitté le combat
    </p>
    <br>
    <button class="secondary_b" (click)="goBackToMap()" >Retour à la carte</button>
  </div>
</div>