.img_poke {
    width: 300px;
    
}

.img_pokeball {
image-rendering: pixelated;      
image-rendering: crisp-edges;     
image-rendering: optimizeSpeed; 
width: 350px;
z-index: 2;
}

.secondary_b:disabled {
    opacity: 0.5;
}

.slot_img_Pokemon {
    width: 400px;
    height: 350px;
    margin-bottom: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.message_poke{
display: flex ;
flex-direction: row ;
width: fit-content ;
left: 0;
gap: 10px;
padding: 0 16px ;
background-color: white;

  border-width: 0 4px 4px 0;
  border-style: solid;
  border-color: #3B3B3B;
box-shadow: inset 8px 8px 0  #0000003f;

}

.top_combat{
    width: 100% ;
    display: flex ;
    flex-direction: row ;
    justify-content: space-between ;
}