<section class="inventaire">
  
 <h6 class="subsubtitle">Inventaire</h6>

  <ul class="selectitems">
    <li *ngFor="let item of items" 
        [class.selected]="selectedItem === item"
        (mouseenter)="selectItem(item)"
        (mouseleave)="unselectItem(item)">
      <div class="item">
        <p>{{ item.name }}</p>
        <p>x{{ item.quantity }}</p>
      </div>
    </li>
  </ul>
  <div class="line_inv" >
    <div class="lower_inv" *ngIf="selectedItem">
      <img class="img_inv" [src]="selectedItem.img" alt="">
      <p class="indic">{{ selectedItem.desc }}</p>
    </div>
  </div>

</section>
