    <header class="top-bar">
        <div class="accueil"> <p> Bienvenue {{pseudo}}  </p> <p> ---- </p> <p>  Bon Safari!  </p>  <p>----  </p> <p> <span id="datetime">{{ datetime }}</span></p></div>

        <div class="iconsbtns">



            <button (click)="openPopup()" class="primary_b">?</button>

<div class="overlay" *ngIf="popupVisible" (click)="closePopup()"></div>

<div class="popup" *ngIf="popupVisible">

    <h2>Bienvenue à PokéFari ! </h2>
  <p><br> Sur cette île sauvage, <br> un Zarbi peut surgir à tout moment… <br> Attrape-le du bout du doigt et laisse-toi aspirer dans un face-à-face où chaque choix compte <br> tenter la capture, l’appâter, l’affaiblir ou fuir. <br> Chaque rencontre te rapproche d’un Pokédex légendaire.</p> <br>
  <button class="primary_b" (click)="closePopup()">Fermer</button>
  
</div>




            <button class="secondary_b" (click)="logout()"><img src="assets/logout.svg" alt=""></button>
        </div>
    </header>

