    <header class="top-bar">
        <div class="accueil"> <p> Bienvenue {{pseudo}}  </p> <p> ---- </p> <p>  Bon Safari!  </p>  <p>----  </p> <p> <span id="datetime">{{ datetime }}</span></p></div>

        <div class="iconsbtns">



            <button (click)="openPopup()" class="primary_b">?</button>

                <div class="overlay" *ngIf="popupVisible" (click)="closePopup()"></div>

                <div class="popup" *ngIf="popupVisible">

                    <h2 class="popup-title">Bienvenue dans le PokéFari !</h2>

                    <div class="popup-content">
                        
                        <div class="popup-text">
                            <p>
                            Je suis le professeur Abid<br>
                            Sur cette île sauvage,<br>
                            un Zarbi 
                            
                            <img  class="random-img" src="assets/Zarbi1.png">
                            
                            
                            peut surgir à tout moment…<br> <br>
                            Attrape-le du bout du doigt et <br>
                            laisse-toi aspirer dans un face-à-face<br>
                             où chaque choix compte.<br>
                            tu peux tenter de le capturer, l’appâter, l’affaiblir ou fuir.<br>
                            Chaque rencontre te rapproche <br> d’un Pokédex légendaire. <br><br>
                            </p>
                        </div>

                        <div class="popup-img">
                            <img src="assets/Prof_Jordan.png" alt="Professeur J">
                        </div>

                    </div>

                    <div class="popup-footer">
                        <button class="primary_b" (click)="closePopup()">Fermer</button>
                    </div>

                    </div>

                

            <button class="secondary_b" (click)="logout()"><img src="assets/logout.svg" alt=""></button>
     
        </div>
    </header>

