<div class="page-poke-list">

<h1>Liste des Maps</h1>


<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let m of maps$ | async; trackBy: trackMap">
            <td>{{ m.id }}</td>
            <td>{{ m.nom }}</td>
            <td>{{ m.lienImage }}</td>
            <td>
                <button (click)="editMap(m)">Modifier</button>
                <button (click)="deleteMap(m)">Supprimer</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="ajout">
    <form (ngSubmit)="ajouterModifierMap()" [formGroup]="mapForm">
        <!-- nom -->
        <div>
            <input  type="text" formControlName="nom" placeholder="Nom"/> 
            
            @if (nomCtrl.hasError('required')) {
                <div class="error-message">Le nom est obligatoire</div>
            }
        </div>

        <!-- chemin de l'image -->
        <div>
            <input type="text" formControlName="lienImage" placeholder="Chemin de l'image"/>

            @if (lienImageCtrl.hasError('required')) {
                <div class="error-message">Le chemin de l'image est obligatoire</div>
            }
        </div>

        @if (editingMap) {
            <input type="submit" [disabled]="mapForm.invalid" value="Modifier" />
        }

        @else {
            <input type="submit" [disabled]="mapForm.invalid" value="Ajouter" />
        }

    </form>
</div>
</div>