html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

/* -------- FONTS -------- */
.press-start-2p-regular,
* {
  font-family: 'Press Start 2P', system-ui;
}

/* -------- BACKGROUND -------- */
.backconnx {
  background: url('./assets/back1.png') center/cover no-repeat;
  width: 95%;
  height: 99%;
  margin-top: -80px;

  padding: 50px;
}

.erreurconx{


padding: 16px;
margin: auto;
text-align: center;
font-size: 10px;
color: #d10700;

}

.input-error {
  border: 2px solid #d10700 !important;
  box-shadow: 4px 4px 0 #590d0a !important;
  color: #590d0a !important;
  animation: shake 0.3s;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.error-message{
  font-size: 10px;
}

/* -------- ENCAR DE CO -------- */
.encarco {
  background: #edf0f6;
  border: 8px solid #216eac;
  width: fit-content;
  box-shadow: 8px 8px 0 #3b3b3b;
  display: flex;
  flex-direction: column;
  padding: 48px 32px;
  margin: 20px auto;
  transition: 0.15s;
}

/* -------- CENTRAGE ET GAP 16 -------- */
.center_g16 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-transform: uppercase;
}

/* -------- TXTS -------- */
.pokeballdeco {
  width: 50px;
}

.title {
  color: #216eac;
  text-align: center;
}

.subtitle {
  color: #d10700;
  text-align: center;
  font-size: 20px;
  margin: -20px 0 20px;
}

/* -------- INPUTS -------- */
.conxn {
  background: #fff;
  border: 4px solid #3b3b3b;
  padding: 8px;
  box-shadow: 4px 4px 0 #3b3b3b;
  font-size: 12px;
  color: #3b3b3b;
  width: 100%;
  box-sizing: border-box;
}

/* Placeholder */
.conxn::placeholder {
  color: #d2daeb;
}

/* Hover */
.conxn:hover {
  background: #f4f6fb;
}

/* Focus */
.conxn:focus {
  outline: none;

  box-shadow: 4px 4px 0 #216eac;
}

/* -------- PASSWORD-CONTAINER -------- */
.password-container {
  position: relative;
  width: 100%;
}

.password-container .conxn {
  padding-right: 30px;
  text-transform: none;
}

/* Œil */
#toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
  transition: 0.15s;
}

/* Hover œil */
#toggle:hover {
  opacity: 0.8;
}

/* Active œil */
#toggle:active {
  transform: translateY(-50%) scale(0.9);
}

/* -------- INPUTS ENCAR -------- */
.inputs {
  padding: 0 16px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* -------- BUTTONS -------- */
.primary_b,
.secondary_b {
  padding: 16px 24px;
  border: none;
  box-shadow: 4px 4px 0 #3b3b3b;
  margin: auto;
  text-transform: uppercase;
  transition: 0.15s;
  display: inline-block;
}

/* Primary */
.primary_b {
  background: #216eac;
  color: #edf0f6;
}

.primary_b:hover {
  background: #1a5a8a;
  transform: translateY(4px); /* descendre le bouton de 4px */
  box-shadow: 0px 0px 0 #216eac;
}

.primary_b:active {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0 #3b3b3b;
}

/* Secondary */
.secondary_b {
  background: #d2daeb;
  color: #216eac;
  text-decoration: none;
  box-shadow: 4px 4px 0 #216eac;
}

.secondary_b:hover {
  background: #c4cddf;
    transform: translateY(4px); /* descendre le bouton de 4px */
  box-shadow: 0px 0px 0 #216eac;
}

.secondary_b:active {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0 #216eac;
}

/* -------- TEXTE SUP -------- */
.inscrib {
  margin-top: 16px;
  text-align: center;
  text-transform: uppercase;
}
.txt {
  font-size: 12px;
  text-transform: uppercase;
}

/* -------- RESPONSIVE DESKTOP -------- */
@media (min-width: 1200px) {
  .encarco {
    max-width: 600px;
    margin: 4% auto;
  }

  .inputs {
    max-width: 500px;
  }

  .conxn {
    font-size: 14px;
  }

  .primary_b,
  .secondary_b {
    padding: 18px 28px;
  }
}

/* -------- ANIMATION APPARITION -------- */
@keyframes popup {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.encarco {
  animation: popup 0.35s ease-out;
}

/*--P2- index --*/

.bodindex {
  text-transform: uppercase;
  padding: 32px;
  background: repeating-linear-gradient(
    0deg,
    /* orientation : 0deg = horizontal */ #d2daeb,
    /* couleur 1 */ #d2daeb 20px,
    /* hauteur de la ligne 1 */ #edf0f6 20px,
    /* couleur 2 commence */ #edf0f6 40px /* hauteur totale ligne 1+2 */
  );
}

/* ----------------- TOP BAR ----------------- */
.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
.accueil {
  background-color: #415240;
  border: #3b3b3b solid 4px;
  box-shadow: inset 8px 8px 0 #0000003f;
  color: white;
  padding: 4px 16px;
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 5%;
  margin: auto;
  justify-content: center;
}

.nav-btn {
  text-decoration: none;
  color: white;
  margin: auto;
}

.nav-btn:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.521);
  margin: auto;
}

.navbar-item {
  padding: 16px 0;
  list-style: none;
}

.navbar-item:not(:last-child)::after {
  content: '|';
  margin: 0 10px;
  color: #999;
  font-weight: bold;
}

.iconsbtns {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: fit-content;
  margin: auto;
}

.iconsbtns > button {
  width: 80px;
  height: 64px;
  font-size: 24px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 4;
}

/* POPUP CENTRÉE */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #edf0f6;
  padding: 30px;
  width: 1000px;

  z-index: 5;
  text-align: center;
  box-shadow: 8px 8px 0px #3b3b3b;
  line-height: 2.2;
}

.popup-text{

font-size: 14px;
  text-align: right;

}

.popup-text img {

height: 32px;


}

/* ----------------- GRID LAYOUT ----------------- */
.layout-grid {
  display: grid;
  grid-template-columns: 1fr 4fr; /* Colonne gauche / Colonne droite */
  grid-template-rows: auto auto auto; /* Ligne A / Ligne B à gauche */
  gap: 20px;
  padding: 20px;
}

/* Bloc C prend les deux lignes */
.cartes {
  grid-column: 2;
  grid-row: 1 / span 3; /* occupe deux lignes */ /* occupe deux lignes */
  background-image: url(assets/fondcarte1.png); /* background-image: url(assets/fondcarte.png); */
  background-size: contain; /* pour que l'image remplisse le div */
  background-repeat: no-repeat; /* éviter la répétition */
}

.combat {
  grid-column: 2;
  grid-row: 1 / span 3;

  background: #1da7fd;
  background: linear-gradient(
    180deg,
    rgba(29, 167, 253, 1) 0%,
    rgba(255, 255, 255, 1) 22%,
    rgba(255, 255, 255, 1) 30%,
    rgba(255, 207, 110, 1) 50%,
    rgba(199, 222, 115, 1) 54%,
    rgba(51, 166, 91, 1) 75%,
    rgba(24, 122, 65, 1) 99%
  );
  height: 100%;
  width: 100%;
  border: #3b3b3b solid 4px;
}

.pokemoncapture {
  grid-column: 2;
  grid-row: 1 / span 3;
  height: 100%;
  width: 100%;
  background-color: #80b9e7;
  border: #3b3b3b solid 4px;
}

/* Bloc gauche */
.pokedex {
  background-image: url('./assets/pokedex.png');
  background-size: cover; /* pour que l'image remplisse le div */
  background-repeat: no-repeat; /* éviter la répétition */
  background-position: center; /* centrer l'image */

  width: 272px;
  height: 563px;

  display: flex;
  flex-direction: column;

  grid-column: 1;
  grid-row: span 2;
}

.openinginv {
  width: 100px;
  margin: 40px auto;
}

h3 {
  color: white;
  font-size: 12px;
  margin-top: -20px;
  text-align: center;
  line-height: 1.5;
}

.encarnbm {
  background-color: #415240;
  border: #3b3b3b solid 4px;
  box-shadow: inset 8px 8px 0 #0000003f;
  color: white;
  padding: 4px 16px;
  width: fit-content;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 5%;
  margin: auto;
}

.inventaire {
  min-height: 150px; /* juste pour visualisation */
  width: 272px;
  grid-column: 1;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pokemon-item.selected {
  background-color: #f8e088;
  box-shadow: 4px 4px 0 #216eac;
}

.selectitems {
  width: 100%;
  font-size: 12px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 16px;
  margin: 0; /* corrige le décalage */
  list-style: none; /* enlève les puces */

  border: #f8e088 solid 4px;
  box-sizing: border-box; /* évite les débordements */
}

.indic {
  font-size: 8px;
  margin: auto;
}

.item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 16px;

  background-color: #ffffe9;
  box-shadow: 4px 4px 0 #f8e088;

  box-sizing: border-box;
}

.pokeballmini{

width: 16px;
height: 16px;
margin: auto;
padding: 16px;

}

.item:hover {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 16px;

  background-color: #f8e088;
  box-shadow: -4px -4px 0 #ffffff;

  box-sizing: border-box;
}

.item p {
  margin: 0;
}

.subsubtitle {
  color: white;
  background-color: #216eac;
  width: 100%;
  font-weight: lighter;
  margin: auto;
  text-align: center;
  padding: 4px 0;
}

.lower_inv {
  color: white;
  background-color: #415240;
  width: 100%;
  font-weight: lighter;
  margin: auto;
  text-align: center;
  padding: 4px 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.img_inv {
  width: 16px;
  height: 16px;
  margin: 4px 8px;
}

/* ----------------- OPTIONS DE DEBUG / REPÈRE ----------------- */
.layout-grid section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* -----  pokemon capture ----- */

.pokemon-list {
  max-height: 670px; /* LISTE DÉROULANTE */
  overflow-y: auto;
  padding-right: 8px;
  overflow: auto;
  width: 140%;
}

.pokemon-item {
  background: #f8f8c8;
  border-radius: 30px 0 0 30px;
  padding: 8px 24px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  justify-content: space-around;
}

.pokemon-item:hover {
  background: #f8e088;
  transform: translateX(4px);
  box-shadow: 4px 4px 0 #3b3b3b;
}

.pokemon-sprite {
  width: 48px;
  height: 48px;
}

.pokemon-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-weight: bold;
  font-size: 18px;
  justify-content: space-between;
  padding: 0 8px;
  width: 100%;
}

.pokemon-id {
  color: #3b3b3b;
}

.pokemon-name {
  color: #3b3b3b;
  text-transform: uppercase;
  margin: auto;
}

.pokemon-detail {
  background-color: #edf0f6;
  border: #ffd400 solid 4px;
  height: 670px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 140%;
}

.pokemon-big {
  width: 280px;
  display: flex;
  margin-top: 25%;
}

.pokepicture {
  height: 100%;
  margin: auto;
}

.pokemon-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.id,
.name {
  font-size: 16px;
  font-weight: lighter;
  padding: 8px;
}

.pokeball {
  width: 22px;
}

.types {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: fit-content;
  margin: 15px auto;
}

.type {
  background: #216eac;
  border: 2px solid #3b3b3b;
  color: white;
  padding: 5px 10px;
  margin: auto;
  margin-right: 5px;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
}

.actions {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.actions > button {
  /* uniquement les boutons directement dans .actions */
  margin: 24px;

  cursor: pointer;
}

.infospoke {
  width: 100%;
  height: 100%;
  padding: 16px 0;
}

.layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 80%;

  padding: 32px 52px;
  height: 100%;
}

/*--combat--*/

.img_poke {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: optimizeSpeed;
  width: 350px;
  margin-bottom: -100px;
  z-index: 2;
}

.img_socle {
  width: 400px;
}

.combat_poke {
  display: flex;
  flex-direction: column;
}

.id_poke {
  display: flex;
  flex-direction: row;
  width: fit-content;
  left: 0;
  margin-right: auto;
  gap: 10px;
  padding: 0 16px;
  background-color: white;

  border-width: 0 4px 4px 0;
  border-style: solid;
  border-color: #3b3b3b;
  box-shadow: inset 8px 8px 0 #0000003f;
}

.containeur {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* centre horizontalement */
}

.containeur_capture {
  display: flex;
  justify-content: center; /* centre horizontal */
  align-items: center;
  width: 100%;
  height: 100%;
  background: #ffffff;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(148, 187, 233, 1) 52%,
    rgba(70, 149, 240, 1) 100%
  );
}

.containeur_fuite,
.containeur_fuit {
  display: flex;
  justify-content: center; /* centre horizontal */
  align-items: center;
  width: 100%;
  height: 100%;
  background: #ffffff;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(150, 150, 150, 1) 52%,
    rgba(99, 99, 99, 1) 100%
  );
}

.center_txt {
  text-align: center;
  color: #0a5491;
}

.actions_combat {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  margin-top: 10px;
}

b {
  padding: 2px;
  font-weight: bolder;
  background-color: white;
}

.actions_combat > button {
  /* uniquement les boutons directement dans .actions */
  width: 300px;
  height: 80px;
  margin: 8px;
}

.img_poke {
  width: 300px;
}

.img_pokeball {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: optimizeSpeed;
  width: 350px;
  z-index: 2;
}

.secondary_b:disabled {
  opacity: 0.5;
}

.slot_img_Pokemon {
  width: 400px;
  height: 350px;
  margin-bottom: -100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.message_poke {
  display: flex;
  flex-direction: row;
  width: fit-content;
  left: 0;
  gap: 10px;
  padding: 0 16px;
  background-color: white;

  border-width: 0 0 4px 4px;
  border-style: solid;
  border-color: #3b3b3b;
  box-shadow: inset -8px 8px 0 #0000003f;
  height: fit-content;
}

.top_combat {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tertiary_b {
  all: unset;
  text-decoration: underline 2px;
  color: #216eac;
  padding: 16px;
  font-size: 14px;
}

.navbarcrud{

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;



}