.pokemon-big {
  width: 250px;
  height: 250px;
  object-fit: contain;
  image-rendering: pixelated;
}

/* Si c’est une Pokéball → réduit visuellement mais garde la même box */
.pokemon-big.placeholder {
  transform: scale(0.3);   /* Ajuste 0.5 à 0.7 selon ton besoin */
  transform-origin: center;
}