.pokemon-detail {
  padding: 20px;
}

.pokemon-big {
  width: 280px;
  display: block;
  margin: 0 auto;
}

.pokemon-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
}

.pokeball {
  width: 22px;
}

.types {
  margin-top: 15px;
}

.type {
  background: #d8e6ff;
  border: 1px solid #8ca4d4;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
  text-transform: uppercase;
  font-size: 12px;
}

.actions {
  margin-top: 25px;
  display: flex;
  gap: 12px;
}
