<div class="pokemon-detail">
  <div class="pokepicture">
    <img 
      [src]="pokemonToDisplay.sprite"
      alt="{{ pokemonToDisplay.name }}"
      class="pokemon-big"
      [class.placeholder]="pokemonToDisplay.sprite.includes('pokeitem')"
    >
  </div>

  <div class="infospoke">

    <div class="pokemon-header">
      <img class="pokeball" src="assets/pokeitem.png" alt="">
      <span class="id">N.{{ pokemonToDisplay.id }}</span>
      <span class="name">{{ pokemonToDisplay.name }}</span>
    </div>

    <div class="types">
      <span *ngFor="let tc of typesEtCouleurs">
        <span
          class="type"
          *ngFor="let tc of typesEtCouleurs"
          [style.backgroundColor]="tc[1]"
        >
          {{ tc[0] }}
        </span>
      </span>
    </div>

<div class="actions">
  <button class="secondary_b" (click)="Previous()">PRECEDENT</button>
  <button class="primary_b" (click)="Next()">SUIVANT</button>
</div>

  </div>
</div>