<div class="page-poke-list">

    <app-navbar-crud></app-navbar-crud>

    <br>
    <br>

    <h1>Liste des admins</h1>

    <div class="display_admin">

        <!-- TABLEAU -->
        <div class="scrollable">
            <table class="table_admin">
                <thead class="thead_admin">
                    <tr>
                        <th>Id</th>
                        <th>Login</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let a of admins$ | async; trackBy: trackAdmin">
                        <td class="td_admin">{{ a.id }}</td>
                        <td class="td_admin">{{ a.login }}</td>
                        <td class="td_admin">
                            <div class="buttonaction">
                                <button class="primary_bad" (click)="editAdmin(a)">Modifier</button>
                                <button class="secondary_bad" (click)="deleteAdmin(a)">Supprimer</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- FORMULAIRE -->
        <div class="ajout">
            @if (editingAdmin) {
                <h4>Modifier un admin</h4>
            }

            @else {
                <h4>Ajouter un admin</h4>
            }
            <form (ngSubmit)="ajouterModifierAdmin()" [formGroup]="adminForm">

                <!-- login -->
                <div>
                    <label for="login">Identifiant</label>
                    <input type="text" formControlName="login" placeholder="Identifiant" />

                    @if (loginCtrl.hasError('required')) {
                        <div class="error-message">L'identifiant est obligatoire</div>
                    }
                </div>
                <br>

                <!-- password -->
                <div>
                    <label for="password">Mot de passe</label>
                    <input type="text" formControlName="password" placeholder="Mot de passe" />

                    @if (passwordCtrl.hasError('required')) {
                        <div class="error-message">Le mot de passe est obligatoire</div>
                    }
                    @else if (passwordCtrl.hasError('minlength')) {
                        <div class="error-message">Le mot de passe doit faire 6 caractères minimum</div>
                    }
                </div>

                @if (editingAdmin) {
                    <input type="submit" [disabled]="adminForm.invalid" value="Modifier" />
                }
                @else {
                    <input type="submit" [disabled]="adminForm.invalid" value="Ajouter" />
                }

            </form>
        </div>

    </div>
</div>
