<div class="backconnx">
  <div class="encarco">

    <div class="center_g16">
      <img class="pokeballdeco" src="assets/pokeballpix.png" alt="pokeballpix">

      <h1 class="title">welcome</h1>
      <h2 class="subtitle">to the <br> pokéfari</h2>
    </div>

    <div class="erreurconx" *ngIf="registerError">
        Impossible de créer un compte
    </div>

    <form (ngSubmit)="register()" [formGroup]="registerForm">
      <div class="inputs">

        <input class="conxn"
               type="text"
               formControlName="username"
               placeholder="Identifiant"
              [class.input-error]="registerError">
               @if (usernameCtrl.hasError('required')) {
          <div class="error-message"> <br> L'identifiant est obligatoire</div>
          }
    <br>

            <input class="conxn"
                  type="text"
                  formControlName="surnom"
                  placeholder="Surnom">
            @if (surnomCtrl.hasError('required')) {
          <div class="error-message">Le surnom est obligatoire</div>
          }
    <br>

 <div class="password-container">
  <input
    class="conxn"
    [type]="showPassword ? 'text' : 'password'"
    formControlName="password"
    name="password"
    id="password"
    placeholder="Mot de passe"
  />
  @if (passwordCtrl.hasError('required')) {
          <div class="error-message">Le mot de passe est obligatoire</div>
          } @else if (passwordCtrl.hasError('minlength')) {
          <div class="error-message">Le mot de passe doit faire 6 caractères minimum</div>
          }

  <img
    id="toggle"
    [src]="showPassword ? 'assets/openy.png' : 'assets/closey.png'"
    (click)="togglePassword()"
    style="cursor: pointer;"
    alt=""
  />
</div>



<br>



 <div class="password-container">
  <input
    class="conxn"
    [type]="showPassword ? 'text' : 'password'"
    formControlName="confirm"
    name="password"
    id="password"
    placeholder="Confirmation du mdp"
  />


  <img
    id="toggle"
    [src]="showPassword ? 'assets/openy.png' : 'assets/closey.png'"
    (click)="togglePassword()"
    style="cursor: pointer;"
    alt=""
  />

  
</div>
  @if (confirmCtrl.hasError('passwordMismatch')) {
  <div class="error-message"> <br>Confirmation du mot de passe</div>
  }

<br>
        <button class="primary_b"
                type="submit"
                [disabled]="registerForm.invalid"
                style="cursor: pointer;">
          créer mon compte
        </button>

      </div>
    </form>



  <div class="inscrib">
    <p class="txt">
      déjà un compte ?
      <br><br><br>
      <a class="secondary_b" routerLink="/login" routerLinkActive="active">
        connecte-toi
      </a>
    </p>
      </div>
  </div>
</div>

<!--

        <div class="password-container">
          <input class="conxn"
                 type="password"
                 formControlName="password"
                 placeholder="ton mot de passe">
        </div>

                <div class="password-container">
          <input class="conxn"
                 type="password"
                 formControlName="confirm"
                 placeholder="confirme ton mdp">

          <img id="toggle" src="assets/openy.png" alt="">
        </div>

-->