.background403{

background-image: url(../../../../assets/403.png);
background-size: cover;
width: 100%;
height: 100%;

}

.txt_403{
    padding: 10%;
text-align: center;
}

h1{

font-size: 70px;

}

.buttonretour {
  text-decoration: none;
  padding: 16px 24px;
  border: none;
  box-shadow: 4px 4px 0 #216eac;
  text-transform: uppercase;
  background: #d2daeb;
  color: #216eac;
  transition: transform 0.2s ease, background 0.2s ease;
  display: inline-block; /* important pour que transform fonctionne correctement */
}

.buttonretour:hover {
  background: #c4cddf;
  transform: translateY(4px); /* descendre le bouton de 4px */
  box-shadow: 0px 0px 0 #216eac;
}